{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<span class="mr-2">Bienvenue invité</span>
                    <a href="{{ path('app_register') }}" class="btn btn-success">Inscription</a>



{% for user in users %} 
  
 <h2>Mon pseudo est: {{ user.pseudo }},</h2> 
 <p1>-Mon mail:  {{ user.email }},<br>
  -J'aime jouer sur: {{ user.platform.name }},<br>
  -Mes jeux préférés sont: {% for videogame in user.videogames %}
                                  {{ videogame.title }},   
                          {% endfor %}<br>
  -Je suis amis avec:{% for friendReceiver in user.friendReceiver %}
                                  {{ friendReceiver.receiver.pseudo }},   
                          {% endfor %}
 </p1>
  
{% endfor %}

{% endblock %}
