{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<span class="mr-2">Bienvenue invité</span>
                    <a href="{{ path('app_register') }}" class="btn btn-success">Inscription</a>



{% for user in users %} 
  <h2>
    {{ user.pseudo }}, 
    {{ user.email }}, 
    {{ user.platform.name }},
     {% for videogame in user.videogames %}
        <span>{{ videogame.title }}</span>  
    {% endfor %}
  </h2>
{% endfor %}

{% endblock %}
