{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

{{ dump(users)}} 
 <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>
                    {{ user.email }}, 
                    {{ user.platform }}, 
                    {% for videogame in user.videogames %}
                        {{ videogame.title }},
                    {% endfor %}
                    
                </td>
{% for user in users %}
    <h2>{{ user.email }}, 
                    {{ user.platform }}, 
                    {% for videogame in user.videogames %}
                        {{ videogame.title }},
                    {% endfor %}</h2>
{% endfor %}

                <td>
                
                </td>
            </tr>
        </tbody>
    </table> 



{% endblock %}

