{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

{{ dump(user)}} 
{{ dump(platform)}}
{{ dump(videogames)}}
 <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>
                 {{ user.id }},
                    {{ user.email }}, 
                    {{ user.platform }}, 
                    {% for videogame in user.videogames %}
                        {{ videogame.title }},
                    {% endfor %}
                    
                </td>
    <h2>{{ platform.name }}, 
                    {% for user in platform.users %}
                        {{ user.pseudo }},
                    {% endfor %}</h2>

 <h2>{{ videogames.title }}, 
                    {% for user in videogames.users %}
                        {{ user.pseudo }},
                    {% endfor %}</h2>

                <td>
                
                </td>
            </tr>
        </tbody>
    </table> 



{% endblock %}

